* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #e1e1e1;
    font-size: 1.6rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.info-bar{
    display: flex;
    padding: .5em 0;
    justify-content: space-between;
    width: 660px;
    background-color: #142f43;
    border: 5px solid #F14A1699;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: none;
}

.info-bar p {
    margin: .5em .75em;
    font-size: 2.4rem;
    color: #FAEDF0;
}

canvas {
    position: relative;
    z-index: 0;
    background-color: #142F43;
    border: 5px solid #F14A1699;
    border-bottom: none;
}